div.polaroid {
    width: 20px;height:375px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  img {width:250px;height:375px;}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  